---
import locationIcon from "/public/images/location.svg"
import type { TravelsData } from "./mockData";

interface Props {
 travels: TravelsData;
}

const { travels } = Astro.props;
---

{
 travels.map((travel) => (
  <div class="travel-item">
   <div class="img-wrapper">
    <img src={travel.srcImage} alt={travel.name} />
   </div>
   <div class="content-wrapper">
    <div class="title-wrapper">
     <a href={travel.srcLocation} target="_blank">
      <h3 class="content-title">{travel.name}</h3>
      <img class="icon" src={locationIcon} alt={travel.name} />
     </a>
    </div>
    <ul class="content-list">
     {travel.description.map((desc) => (
      <li class="content-item">
       <p>{desc.item}</p>
      </li>
     ))}
    </ul>
   </div>
  </div>
 ))
}

<style lang="scss">
 @import "../../styles/variables.scss";
 @import "../../styles/media-queries.scss";

 .travel-item {
  display: flex;
  gap: 40px;

  &:not(:last-child) {
   margin-bottom: 40px;
  }
  &:nth-child(2n) {
   flex-direction: row-reverse;
  }
  @include media-max(md) {
   flex-direction: column-reverse;
   justify-content: center;
   &:nth-child(2n) {
    flex-direction: column-reverse;
   }
  }
 }

 .img-wrapper {
  flex-basis: 100%;
  & img {
   max-width: 100%;
   width: 540px;
   height: 280px;
   border: 2px solid $accent-1;
   border-radius: 16px;
   object-fit: cover;
  }
 }

 .content-wrapper {
  flex-basis: 100%;
 }

 .title-wrapper a {
  display: flex;
 }

 .content-title {
  position: relative;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: $black;
  cursor: pointer;
  &::after {
   content: "";
   position: absolute;
   height: 2px;
   width: 100%;
   left: 0;
   bottom: -5px;
   background-color: $accent-1;
  }
  &:is(:hover, :active) {
   color: $accent-1;
   transition: color 0.2s ease-in-out;
  }
 }

 .icon {
  margin-left: 30px;
 }

 .content-list {
  margin-top: 26px;
  padding-left: 30px;
  list-style-type: disc;
  list-style-position: outside;
  font-size: 20px;
 }

 .content-item {
  font-size: 24px;
  line-height: 1.4;
  color: $text-black-600;
  @include media-max(lg) {
   font-size: 20px;
   line-height: 1.2;
  }
 }
</style>
